JiraRepo2/src/loginwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://login.webservice.dtmanager.dynatrace.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://login.webservice.dtmanager.dynatrace.com/" name="LoginWebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://login.webservice.dtmanager.dynatrace.com/" schemaLocation="http://localhost:9080/devoweb/loginwebservice.xsd" />
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="logout">
<part name="parameters" element="tns:logout" />
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse" />
</message>
<message name="loginRest">
<part name="parameters" element="tns:loginRest" />
</message>
<message name="loginRestResponse">
<part name="parameters" element="tns:loginRestResponse" />
</message>
<message name="logoutRest">
<part name="parameters" element="tns:logoutRest" />
</message>
<message name="logoutRestResponse">
<part name="parameters" element="tns:logoutRestResponse" />
</message>
<portType name="LoginWebservice">
<operation name="login">
<input message="tns:login" />
<output message="tns:loginResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="logout">
<input message="tns:logout" />
<output message="tns:logoutResponse" />
</operation>
<operation name="loginRest">
<input message="tns:loginRest" />
<output message="tns:loginRestResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="logoutRest">
<input message="tns:logoutRest" />
<output message="tns:logoutRestResponse" />
</operation>
</portType>
<binding name="LoginWebservicePortBinding" type="tns:LoginWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loginRest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="logoutRest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="LoginWebserviceService">
<port name="LoginWebservicePort" binding="tns:LoginWebservicePortBinding">
<soap:address location="https://stg-dynaweb.emea.cpwr.corp:443/eservices/loginwebservice" />
</port>
</service>
</definitions>